.b{
    background: linear-gradient(to top left, #00ccff 37%, #0066ff 94%);
}
.contaner{
    background-color: white;
    width: 100%;
    max-width: 500px;
    height: 100%;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.head{
    height: 100%;
    max-height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.firsthead{
height: 100%;
width: 100%;
max-width: 300px;
}
.name{
    font-size: 48px;
    font-weight: 700;
}

.user{
    font-size: 18px;
    font-weight: 700;
}
.search{
    width: 100%;
    max-width: 500px;
    height: 100%;
    max-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.searchbar{
width: 100%;
max-width: 500px;
height: 60px;
border-top: none;
border-left: none;
border-right: none;
}
.img{
    width: 30px;
    height: 30px;
}
.img2{
    width: 30px;
    height: 30px;
}
.for{
display: flex;
justify-content: flex-end;
font-size: 18px;
font-weight: 700;
color: #a3a3a3;
cursor: pointer;
}
.buttond{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    max-height: 30px;
}
.button{
    color: white;
    font-size: 24px;
    font-weight: 700;
    width: 100%;
    max-width: 500px;
    height: 40px;
    background: linear-gradient(to top left, #00ccff 37%, #0066ff 94%);
    border-radius: 56px;
    border: none;
    cursor: pointer;
}
.or{
    font-size: 18px;
    font-weight: 300px;
    font-style: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.icon1{
    width: 30px;
    height: 30px;
    color: blueviolet;
    cursor: pointer;
    
}
.ft{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    max-height: 30px;
}
.f{
    font-size: 24px;
    font-weight: 700;
}
.ft2{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.f2{
    font-size: 24px;
    font-weight: 700;
    cursor: pointer;
}